
<div ng-include="'partials/navbar.html'"></div>
<div class="row">
  <div class="col-sm-12">
    <h1>Change Password</h1>
  </div>
  <div class="col-sm-12">
    <form name="form" ng-submit="createUser(form)" class="form">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" name="name" ng-model="client.name" required="" class="form-control"/>
        <p ng-show="form.password.$error" class="help-block">{{ errors.other }}</p>
      </div>
      <div class="form-group">
        <label>Data de nascimento</label>
        <input type="text" name="birth" ng-model="client.birth" required="" class="form-control"/>
        <p ng-show="(form.birth.$error || submitted)" class="help-block">01/01/2011</p>
      </div>
      <p class="help-block"> {{ message }} </p>
      <button type="submit" class="btn btn-lg btn-primary">Save changes</button>
    </form>
  </div>
</div>